name: Bandit Security Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
    contents: read

jobs:
  bandit_scan:
    name: Run Bandit
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Super-linter
        uses: PyCQA/bandit-action@v1
        with: 
            path: "."
            level: high
            confidence: high
            exit_zero: true           